body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    color: #000000;
    background: #fff;
    display: flex;

    justify-content: center;
    align-items: center;
}

button {
  background-color: #0094f6;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 8px;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.8;
  font-size: 1em;
}

button:hover {
  opacity: 1;
}

/* Dark Mode CSS */ 

.dark-content{
    background-color: #121212;
    color: #fafafa;
}

.dark-content button{
    background-color: #f54013;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 8px;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.8;
    font-size: 1em;
}

.dark-content button:hover {
    opacity: 1;
  }